

@font-face {
    font-family: '#{$font-number--label}';
    src:url('#{$font-number--url}/#{$font-number--label}.ttf.woff') format('woff'),
        url('#{$font-number--url}/#{$font-number--label}.ttf.svg#Mali-Regular') format('svg'),
        url('#{$font-number--url}/#{$font-number--label}.ttf.eot'),
        url('#{$font-number--url}/#{$font-number--label}.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

