@mixin button-style($type) {
    display: inline-block;
    min-width: 100px;
    white-space: nowrap;
    border-radius: $g-radius;
    @include text-style("cta");
    padding: $spacer-sm $spacer-lg;
    transition: all $g-transition;
    cursor: pointer;

    /* Primary */

    @if $type =="primary" {
        background: $color-primary;
        color: $color-light;

        &:hover {
            background: $color-primary--light;
            color: $color-dark;
        }
    }

    /* Secondary */

    @else if $type =="secondary" {
        background: $color-secondary;
        color: $color-light;

        &:hover {
            background: $color-secondary--light;
            color: $color-light;
        }
    }

    @else if $type =="primary-stroke" {
        background: transparent;
        color: $color-primary;
        border: 1px solid $color-primary;

        &:hover {
            background: $color-primary;
            color: $color-light;
        }
    }

    @else if $type =="secondary-stroke" {
        background: transparent;
        color: $color-secondary;
        border: 1px solid $color-secondary;

        &:hover {
            background: rgba(206, 132, 20, 0.20);
            color: $color-secondary;
        }
    }

    /* Dark */

    @else if $type =="dark" {
        background: $color-dark;
        color: $color-light;

        &:hover {
            background: $color-light;
            color: $color-dark;
        }
    }
}

/*
 * Classes defintion
 */
.btn {
    &__primary {
        @include button-style("primary");
    }

    &__secondary {
        @include button-style("secondary");
    }

    &__secondary-stroke {
        @include button-style("secondary-stroke");
    }

    &__primary-stroke {
        @include button-style("primary-stroke");
    }

    &__light {
        @include button-style("light");
    }

    &__dark {
        @include button-style("dark");
    }
}
