$unit: 4px;

/*
 * Colors
 */
$color-primary: #9D301D;
$color-primary--light: #AF3D28;

$color-secondary: #D86F1F;
$color-secondary--light: #D78A19;

$color-light: #EBEBEB;
$color-dark: #383838;

$color-white: #FFFFFF;

/*
  * Global properties
  */
$g-transition: 0.25s;
$g-radius: $unit*10;
$g-header-size: 60px;

/*
  * Breakpoints
  */
$sm-w: 450px;
$md-w: 768px;
$lg-w: 1280px;
$xl-w: 1400px;

/*
  * Spacers
  */
$spacer-xs: $unit;
$spacer-sm: $unit*2;
$spacer-md: $unit*4;
$spacer-lg: $unit*8;
$spacer-xl: $unit*16;

/*
  * Containers
  */
$max-width-lg: 1400px;
$width-lg: 85%;

$max-width-md: 1200px;
$width-md: 75%;

$max-width-sm: 1000px;
$width-sm: 65%;

/*
  * Texts
  */
$font-size-sm: $unit*2.5;
$font-size-md: $unit*3;
$font-size-lg: $unit*4;
$font-size-xl: $unit*6;
$font-size-xxl: $unit*9;

/*
  * Fonts
  */
$font-number--url: "../assets/fonts/mali";
$font-number--label: 'Mali-Regular';

$font-text--url: "";
$font-text--label: 'Helvetica';
