@import "variables";

@import "necessary/reset";
@import "necessary/fonts";
@import "necessary/breakpoints";

@import "components/Button";
@import "components/Text";

@import "layouts/header";
@import "layouts/sheet";
@import "layouts/gameUI";


canvas {
	position: absolute;
	top: 0;
	left: 0;
}


.selected {
	opacity: 0.5;
}
