@import "variables";

@import "necessary/reset";
@import "necessary/fonts";
@import "necessary/breakpoints";

@import "components/Button";
// @import "components/Label";

@import "layouts/header";
@import "layouts/sheet";
@import "layouts/gameUI";


canvas {
	position: absolute;
	top: 0;
	left: 0;
}


.selected {
	opacity: 0.5;
}

.alert {
	position: absolute;
	align-self: center;
	justify-self: center;
	font-family: Helvetica, sans-serif;
    min-width: 100px;
    font-size: 40px;
    letter-spacing: 0.1em;
    font-weight: 400;
	color: white;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}


.label__txt {
	font-family: Helvetica, sans-serif;
    min-width: 100px;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-weight: 400;
	color: white;
}