<div class="begin">
    <label class="txt__number">Loading...</label>
    <div class="progress-bar">
        <span></span>
    </div>
</div>

<div class="final">
    <label class="txt__number">Score : <span></span></label>
    <!-- <button id="retryButton" class="btn__secondary">Recommencer</button> -->
    <button id="quitButton" class="btn__secondary">Quitter</button>
</div>

<div class="responsive">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-laptop-minimal">
        <rect width="18" height="12" x="3" y="4" rx="2" ry="2" />
        <line x1="2" x2="22" y1="20" y2="20" />
    </svg>
    <label class="txt__number">Ce jeu n'est actuellement pas disponible en version mobile.</label>
</div>