<div id="sheet" class="sheet__score">
    <table class="sheet__table">
        <thead>
            <tr class="row">
                <td class="cell double">
                    <div class="double">
                        <p>Tour</p>
                        <p id="total__turn" class="txt__number">0/12</p>
                    </div>

                    <div class="cell bg__primary">Combinaison</div>
                </td>
                <td class="cell"></td>
            </tr>
        </thead>
        <tbody>
            <tr class="row">
                <td class="cell">Total des
                    <img class="icon" src="assets/images/icons/one.svg" alt="">
                </td>
                <td data-key="0" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row">
                <td class="cell">Total des
                    <img class="icon" src="assets/images/icons/two.svg" alt="">
                </td>
                <td data-key="1" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row">
                <td class="cell">Total des
                    <img class="icon" src="assets/images/icons/three.svg" alt="">
                </td>
                <td data-key="2" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row">
                <td class="cell">Total des
                    <img class="icon" src="assets/images/icons/four.svg" alt="">
                </td>
                <td data-key="3" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row">
                <td class="cell">Total des
                    <img class="icon" src="assets/images/icons/five.svg" alt="">
                </td>
                <td data-key="4" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row">
                <td class="cell">Total des
                    <img class="icon" src="assets/images/icons/six.svg" alt="">
                </td>
                <td data-key="5" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row bg__secondary border__dotted">
                <td class="cell">Sous-total</td>
                <td id="total-bonus__score" class="cell txt__number">0/63</td>
            </tr>
            <tr class="row bg__secondary">
                <td class="cell">Bonus (+35)</td>
                <td id="bonus__score" class="cell"></td>
            </tr>
            <tr class="row">
                <td class="cell">
                    <img class="icon" src="assets/images/icons/chance.svg" alt="">
                    Chance
                </td>
                <td data-key="6" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row">
                <td class="cell">
                    <img class="icon" src="assets/images/icons/sm-straight.svg" alt="">
                    Petite suite
                </td>
                <td data-key="7" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row">
                <td class="cell">
                    <img class="icon" src="assets/images/icons/lg-straight.svg" alt="">
                    Grande suite
                </td>
                <td data-key="8" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row">
                <td class="cell">
                    <img class="icon" src="assets/images/icons/full.svg" alt="">
                    Full
                </td>
                <td data-key="9" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row">
                <td class="cell">
                    <img class="icon" src="assets/images/icons/four-kind.svg" alt="">
                    Carré
                </td>
                <td data-key="10" id="choice__score" class="cell txt__number">-</td>
            </tr>
            <tr class="row">
                <td class="cell">
                    <img class="icon" src="assets/images/icons/yatzee.svg" alt="">
                    Yatzee
                </td>
                <td data-key="11" id="choice__score" class="cell txt__number">-</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="row">
                <td class="cell large bg__primary">
                    Score total
                </td>
                <td id="total__score" class="cell txt__number large bg__secondary">0</td>
            </tr>
        </tfoot>
    </table>
</div>